/*
 * Layout do estilo do Dashboard do projeto (MODIFICADO).
 */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    color: #333;
}

header {
    background-color: #004d40;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin: 0;
    text-align: 20px;
}

#dashboard {
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente por padrão */
    gap: 20px;
    padding: 20px;
}

#mapa-container {
    width: 100%; /* O mapa ocupa a largura total */
    margin-bottom: 20px; /* Espaço abaixo do mapa */
}

#mapa {
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#graficos-container {
    display: flex; /* Alinha os gráficos horizontalmente */
    gap: 20px;
    width: 100%; /* Os gráficos ocupam a largura total disponível */
}

.grafico {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1; /* Faz com que os gráficos ocupem o mesmo espaço horizontalmente */
    height: 350px; /* Define uma altura para os gráficos */
}

/*
 * Estilo para centralizar os títulos das seções.
 */
#mapa-container h2 {
    text-align: center;
    margin-bottom: 10px; /* Adiciona um pequeno espaço abaixo do título do mapa */
}

.titulo-graficos {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
    font-size: 1.5em;
}

#graficos-container h2 {
    text-align: center;
    margin-bottom: 10px; /* Adiciona um pequeno espaço abaixo do título dos gráficos */
}